<%- include('layout/header') %>
<div class="container">
  <h1>Formulaire de contact</h1>
  <div id="alert"></div>
  <form class="row g-3 m-3" id="contactForm" method="POST" action="/test">
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Nom et prénom</label>
      <input type="text" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-6">
      <label for="inputEmail4" class="form-label">Email</label>
      <input type="text" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-8">
      <label for="inputEmail4" class="form-label">Nom de l'entreprise</label>
      <input type="text" class="form-control" id="inputEmail4" />
    </div>
    <div class="col-md-4">
      <label for="inputState" class="form-label">Secteur d'activité</label>
      <select id="inputState" class="form-select">
        <option selected>Choisir...</option>
        <option>Public</option>
        <option>Privé</option>
        <option>ESN</option>
      </select>
    </div>
    <div class="col-md-4">
      <label for="inputCity" class="form-label" required="required"
        >Numéro de téléphone</label
      >
      <input type="text" class="form-control" id="inputCity" />
    </div>
    <div class="col-md-4">
      <label for="inputAddress" class="form-label">Pays</label>
      <input
        type="text"
        class="form-control"
        id="inputAddress"
        placeholder="France, Espagne..." />
    </div>
    <div class="col-md-4">
      <label for="inputAddress" class="form-label">Ville</label>
      <input type="text" class="form-control" id="inputAddress" />
    </div>
    <div class="form-group">
      <label for="exampleFormControlTextarea1">Example textarea</label>
      <textarea
        class="form-control"
        id="exampleFormControlTextarea1"
        rows="3"></textarea>
    </div>
    <div class="col-12">
      <div class="form-check">
        <input class="form-check-input" type="checkbox" id="gridCheck" />
        <label class="form-check-label" for="gridCheck">
          je reconnais d'avoir pris connaissance que les information fournies
          sont utilisées pour la prise de contact
        </label>
      </div>
    </div>
    <div class="col-12">
      <button type="submit" class="btn btn-primary" id="submitButton">
        Enregistrer
      </button>
    </div>
  </form>
  <script>
    let contactForm = document.getElementById("contactForm");
    contactForm.onsubmit = async () => {
      event.preventDefault();
      const listInfoForm = Array.from(contactForm.elements);
      let listDataForm = [];
      listInfoForm.forEach((elm) => {
        listDataForm.push(document.getElementById(elm.id).value);
      });
      let dataForm = {
        firstLatsName: listDataForm[0],
        email: listDataForm[1],
        companyName: listDataForm[2],
        Country: listDataForm[4],
        city: listDataForm[5],
        phoneNumber: listDataForm[3],
        text: listDataForm[6],
      };

      var fetchOptions = {
        method: "POST",
        headers: {
          "Content-Type": "application/json",
        },
        body: JSON.stringify({ data: dataForm }),
      };
      let data = await fetch("/contact/saveContact", fetchOptions);
      let json = await data.json();
      if (json.status_code === 200) {
        contactForm.reset();
        document.getElementById(
          "alert"
        ).innerHTML = `<div class="alert alert-success" role="alert">
            Formulaire enregistré avec succèes!
          </div>`;
      }
      if (json.status_code === 500) {
        document.getElementById(
          "alert"
        ).innerHTML = `<div class="alert alert-danger" role="alert">
            Problème d'enregistrement!
          </div>`;
      }
    };
  </script>
</div>
<%- include('layout/footer') %>
